@require './mobile.styl'
@require './content.styl'

#app
  background-color: #282A2B

// header
#header
  background-color: #000000

.header-wrapper 
  .title a
    color: $textColor
  .header-right-wrap .nav .nav-item a
    color: $textColor
    &.router-link-active
      color: $accentColor
    &:hover
      border-bottom: 1px solid $accentColor
      color: $accentColor

.search-box input 
  color: #000000;

// content
.vuepress-blog-theme-content code
  background-color: rgba(255,255,255,0.15)


