.mobile-header-bar
  background-color: #000000

.mobile-menu-wrapper 
  background-color: transparent

#mobile-header .mobile-header-title .mobile-home-link
  	color $textColor

a.nav-link
  color $textColor

.mobile-menu-wrapper.open
	border-top: 1px solid #a8a8b2