.mobile-header-bar
  background-color $mainBgColor
  box-shadow 0 5px 20px rgba(0, 0, 0, 0.06), 0 6px 6px rgba(0, 0, 0, 0.1)

.mobile-menu-wrapper
  background-color transparent

#mobile-header .mobile-header-title .mobile-home-link
  color $textColor

.mobile-nav-item a
  color $textColor

.mobile-menu-wrapper.open
  border-top 1px solid