/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #8be9fd
$textColor = #f9f9f9
// $borderColor = rgba(0,0,0,.05)
// $codeBgColor = rgb(80, 250, 123)

